mixin createCard(data)

  each value in data
    .card(class= `card_${value["color"]}`)
      img.card__image(src= value["src"], alt= value["alt"])
      h1.card__header= value["name"]
      p.card__text= value["text"]
      a.card__button(href="#" class= `card__button_${value["color"]}`) Learn More

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | 3-column preview card component
    link(rel="stylesheet", href="./style.css")
  body 
    .component 
      +createCard([
        {"name": "Sedans", "text": "Choose a sedan for its affordability and excellent fuel economy. Ideal for cruising in the city or on your next road trip.", "src": "./images/icon-sedans.svg", "alt": "Sedan", "color": "orange"},
        {"name": "Suvs", "text": "Take an SUV for its spacious interior, power, and versatility. Perfect for your next family vacation and off-road adventures.", "src": "./images/icon-suvs.svg", "alt": "SUVS", "color": "cyan"},
        {"name": "Luxury", "text": "Cruise in the best car brands without the bloated prices. Enjoy the enhanced comfort of a luxury rental and arrive in style.", "src": "./images/icon-luxury.svg", "alt": "luxury", "color": "cyan-dark"}
      ])
